<?xml version="1.0"?>
<assembly>
    <id>plugin</id>
    <formats>
        <format>zip</format>
    </formats>
    <includeBaseDirectory>true</includeBaseDirectory>
    <baseDirectory>elasticsearch</baseDirectory>
    <!-- plugin descriptor -->
    <files>
        <file>
            <source>${basedir}/src/main/resources/plugin-metadata/plugin-descriptor.properties</source>
            <filtered>true</filtered>
        </file>
        <file>
            <source>${basedir}/src/main/resources/plugin-metadata/plugin-security.policy</source>
            <filtered>false</filtered>
        </file>
   </files>
    <dependencySets>
        <dependencySet>
            <useProjectArtifact>true</useProjectArtifact>
            <useTransitiveFiltering>true</useTransitiveFiltering>
            <scope>runtime</scope>
            <excludes>
                <exclude>*:jna:jar:4.1.0</exclude>
                <exclude>org.elasticsearch:elasticsearch</exclude>
                <exclude>org.elasticsearch.plugin:*</exclude>
                <!--exclude>org.slf4j:slf4j-api*</exclude-->
                <exclude>org.apache.logging.log4j:log4j-*</exclude>
            </excludes>
        </dependencySet>
        <dependencySet>
            <includes>
                <include>com.petalmd:armor</include>
            </includes>
        </dependencySet>
    </dependencySets>
</assembly>

